p.gw2_pricetag {
	padding-top: 10px;
}

.gw2_pricetag_icons {
	position: relative;
	top: -3px;
	margin-left: 4px;
}

div.gw2_inventory_container {
	@apply px-4;
}

.gw2_inventory_content {
	@apply my-2;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		left: 2px;
		height: 100%;
	}

	&.red::before {
		border: 2px solid red;
	}
}

.gw2_inventory_entry {
}

// Centersd elements inline, along the row
.inline_centered {
	@apply flex;
	@apply flex-row;
	@apply items-center;
}

.inventory_title_section {
	width: 360px;
}

.inventory_price_tag {
	width: 160px;
	@apply flex;
	@apply justify-end;
	@apply bg-red-100;
}
